body {
  background-color: #ffc0cb;
  margin: 0;
}

h3 {
  text-align: center;
}

svg {
  margin-left: 20%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #027dff;
}

#name {
 display: block;
 color: white;
 text-align: center;
 text-shadow: 3px 3px black;
 padding: 14px 16px;
 font-family: 'Permanent Marker', cursive;
 font-size: 30px;
 float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  float: right;
}

a:hover {
  color: orange;
}

.about {
  background-image: url("./../images/miamiskyline.jpg");
  background-size: cover;
  margin-top: 40px;
  color: white;
  padding: 20rem;
}

.languages {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}

.frameworks {
  border: 1px solid black;
}

svg {
  max-width: 10%;
}



.portfolio {
  padding: 40px;
}

.contact {
  padding: 60px;
}
